@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The Flash, Green Lantern and Superman are characters owned by DC Comics.</p>
<p>Spiderman and the Hulk are characters owned by Marvel Comics.</p>
