@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <center>
        <h1>Welcome to Superheroes</h1>
        <img src="~/Images/FlashRebirth.jpg" alt="The Flash" />
        <p class="lead">Superheroes is a web application built by a superhero fan for superhero fans using ASP.Net.</p>
        <p>Feel free to browse the library of superheroes currently available and add, edit or delete a superhero of your choice.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more about ASP.Net &raquo;</a></p>
    </center>
</div>
